* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  position: relative;
  .hero {
    height: 100vh;
    width: 100vw;
    background: url("./hero-bcg.jpeg") center/cover no-repeat;
    .nav {
      position: fixed;
      width: 100%;
      height: 60px;
      background: transparent;
      display: flex;
      justify-content: center;
      align-items: center;

      .nav-center {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .logo {
          i {
            font-size: 3rem;
          }
          @media screen and (min-width: 800px) {
            i {
              color: white;
            }
          }
        }
        .menu {
          i {
            font-size: 2rem;
          }
          .menu-items-container {
            display: flex;
            width: calc(100vw / 3);
            justify-content: space-between;
            h3 {
              color: white;
              text-transform: capitalize;
            }
          }
          @media screen and (max-width: 800px) {
            .menu-items-container {
              display: none;
            }
          }
        }
        @media screen and (min-width: 800px) {
          .menu i {
            display: none;
          }
        }
        @media screen and (max-width: 800px) {
          .menu i {
            display: block;
          }
        }
      }
      .collapsable-menu {
        position: absolute;
        width: 100%;
        height: 200px;
        top: 54px;
        left: 0;
        background: white;
        border-radius: 0 0 20px 20px;
        overflow: hidden;
        animation: collapse 0s linear both;
        .lower-menu-items {
          display: flex;
          align-items: center;
          height: 50px;
          width: 100%;
          text-transform: capitalize;
          font-size: 1.4rem;

          transition: 0.5s;

          h4 {
            margin-left: 20px;
            transition: 0.5s;
          }
          &:hover {
            background: rgba($color: green, $alpha: 0.6);
            h4 {
              color: white;
              margin-left: 25px;
            }
          }
        }
      }
      @media screen and (min-width: 800px) {
        .collapsable-menu {
          display: none;
        }
      }
      @media screen and (max-width: 800px) {
        .collapsable-menu {
          display: block;
        }
      }
    }
    @media screen and (max-width: 800px) {
      .nav {
        background: white;
      }
    }
    .hero-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
      background: rgba($color: green, $alpha: 0.5);
      .hero-content {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        text-align: center;
        width: 80vw;
        max-width: 500px;
        color: white;
        h1 {
          text-transform: uppercase;
          font-size: 3.5rem;
        }
        .btn {
          margin-top: 30px;
          text-transform: uppercase;
          font-size: 1.2rem;
          font-weight: lighter;
          border: 2px white solid;
          width: 200px;
          padding: 10px 0;
          transition: 0.2s;
          font-weight: bold;
          &:hover {
            cursor: pointer;
            background: white;
            color: rgba($color: green, $alpha: 0.7);
          }
        }
      }
    }
  }

  .about-us {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vh / 2);
    background: #f1f5f8;
    h1 {
      text-transform: capitalize;
      span {
        color: rgba($color: green, $alpha: 0.7);
      }
    }
  }
  .our-services {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vh / 2);
    background: white;
    h1 {
      margin-top: 60px;
      text-transform: capitalize;
      span {
        color: rgba($color: green, $alpha: 0.7);
      }
    }
  }
  .featured-tours {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: calc(100vh / 2);
    background: #f1f5f8;
    h1 {
      text-transform: capitalize;
      span {
        color: rgba($color: green, $alpha: 0.7);
      }
    }
  }
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh / 4);
    background: #102a42;
    h4 {
      color: white;
      text-align: center;
    }
  }
  .to-top {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 60px;
    right: 60px;
    width: 50px;
    height: 50px;
    background: rgba($color: #40cfd4, $alpha: 1);
    border-radius: 10px;
    animation: scaleupdown 2s linear infinite;
    i {
      color: white;
      font-size: 2rem;
    }
  }
}

@keyframes collapse {
  0% {
    height: 200px;
  }

  100% {
    height: 0;
  }
}
@keyframes expand {
  0% {
    height: 0;
  }

  100% {
    height: 200px;
  }
}
@keyframes scaleupdown {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  100% {
    transform: scale(1, 1);
  }
}
